{% if BOOKS %}
<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-book"></i>Favourite Books</h2>
    {% for book in BOOKS %}
        <div class="item">
            <span class="project-title"><a href={{ book.url }}
                target="_blank">{{ book.title }}</a></span>  - <span class="project-tagline">{{ book.autor }}</span>
        </div><!--//item-->
    {% endfor %}
</section><!--//section-->
{% endif %}